.button {
  color: var(--text-white);
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border-color: transparent;

  transition: background-color var(--transition);

  &:hover,
  &:focus {
    background-color: #14282d;
  }
}
