:root {
  --container-width: 1200px;
  --container-padding: 24px;

  --font-main: "Inter", sans-serif;

  --page-bg: #f7f8fa;
  --bg-white: #ffffff;
  --border-color: #eaecf0;
  --main-color: #153036;
  --primary-color: #1f3a40;
  --secondary-color: #eefcf6;
  --text-color: #f4ebff;
  --text-white: #ffffff;
  --active-color: #146755;

  --laptop-size: 1199px;
  --tablet-size: 739px;
  --mobile-size: 599px;

  --transition: 350ms linear;
}
