.client-data {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.input-client-data {
  height: 50px;
  width: calc((100% - 8px) / 2);
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background: var(--bg-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.input-complaint {
  height: 66px;
  flex-grow: 1;
}

.send-btn {
  display: flex;
  height: 66px;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: var(--text-white);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
