.list-menu {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  padding: 16px 0;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: calc((100% - 24px) / 7);
    padding: 12px;
    background-color: var(--bg-white);
    border-radius: 8px;
    border: 1px solid var(--border-color);
  }
}

.selection-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
}

.selection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 30px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  padding: 0 10px;
  color: var(--page-bg);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.selection--active {
  background-color: var(--primary-color);
}
